---
layout: default
title: "Resume"
---

<div>
  <!-- CONTAINER -->
  <div class="container">
    <!-- EDUCATION -->
    <section class="row">
      <div class="col-md-2 section_title">
        Education
      </div>
      <div class="col-md-7">
        <strong>Albion College</strong>; Albion, Michigan<br />
        Bachelor of Arts<br />
        Major: Economics and Management<br />
        Minor: Statistics<br />
      </div>
      <div class="col-md-3 text-right">
        <span class="badge badge-secondary">August 2010 – May 2014</span>
      </div>
    </section>
    <!-- END EDUCATION -->
    <hr />
    <!-- EXPERIENCE -->
    <section class="row">
      <div class="col-md-2 section_title">
        Experience
      </div>
      <div class="col-md-10">
        {% for experience in site.data.experience %}
        <div class="row">
          <div class="col-md-4">
            <strong>{{ experience.title }}</strong>
          </div>
          <div class="col-md-4">
            <span class="badge badge-primary">{{ experience.company }}</span>
          </div>
          <div class="col-md-4 text-right">
            <span class="badge badge-secondary"
              >{{ experience.employment_date }}</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ experience.description }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="m-0">
              {% for bullet in experience.bullets %}
              <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <!-- END EXPERIENCE -->
    <hr />
    <!-- SKILLS -->
    <section class="row">
      <div class="col-md-2 section_title">
        Technical Skills
      </div>
      <div class="col-md-10" id="technical_skills_bullets">
        {% for skill in site.data.technical_skills %}
        <span class="badge badge-success">{{ skill }}</span>
        {% endfor %}
      </div>
    </section>
    <!-- END SKILLS -->
    <hr />
  </div>
  <!-- END CONTAINER -->
  <!-- BOTTOM WRAP -->
  <div id="bottom_wrap">
    <!-- CONTAINER -->
    <div class="container">
      <!-- AWARDS -->
      <section class="row">
        <div class="col-md-2 section_title">
          Awards
        </div>
        <div class="col-md-10">
          {% for recognition in site.data.awards %}
          <div class="row">
            <div class="col-md-12">
              <strong>{{ recognition.awardName }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ recognition.description }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              {{ recognition.presentedBy }}
            </div>
            <div class="col-md-3 text-right">
              <span class="badge badge-secondary">{{ recognition.date }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- END AWARDS -->
      <hr />
      <!-- NOTABLE RECOGNITION -->
      <section class="row">
        <div class="col-md-2 section_title">
          Notable Recognition
        </div>
        <div class="col-md-10">
          {% for recognition in site.data.notable_recognition %} {% if
          forloop.index == 4 %}
          <div id="demo" class="collapse d-print-none">
            {% endif %}
            <div class="row">
              <div class="col-md-12">
                {{ recognition.comments }}
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-md-9 text-secondary">
                <i> - {{ recognition.role }}</i>
              </div>
              <div class="col-md-3 text-right">
                <span class="badge badge-secondary"
                  >{{ recognition.date }}</span
                >
              </div>
            </div>
            {% if forloop.last %}
          </div>
          {% endif %} {% endfor %}
          <a href="#demo" class="d-print-none" data-toggle="collapse"
            >+ Show More</a
          >
        </div>
      </section>
      <!-- END NOTABLE RECOGNITION -->
      <hr />
      <!-- PROJECTS -->
      <section class="row" id="projects">
        <div class="col-md-2 section_title">
          Projects
        </div>
        <div class="col-md-10">
          {% for project in site.data.work_projects %}
          <div class="row">
            <div class="col-md-9">
              <strong>{{ project.name }}</strong>
            </div>
            <div class="col-md-3 text-right">
              <span class="badge badge-secondary">{{ project.date }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="text-uppercase">Problem</div>
              <div class="ml-3">{{ project.problem }}</div>
            </div>
            <div class="col-md-6">
              <div class="text-uppercase">Solution</div>
              <div class="ml-3">{{ project.solution }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="technology_bullets">
              {% for technology in project.technology_utilized %}
              <span class="badge badge-light">{{ technology }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-md-12">
              <ul class="m-0">
                {% for bullet in project.description_bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- END PROJECTS -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- END BOTTOM WRAP -->
  <!-- ABOUT WRAP -->
  <div id="about_wrap" class="d-print-none">
    <!-- CONTAINER -->
    <div class="container">
      <!-- ABOUT -->
      <section class="row" id="about">
        <div class="col-md-9">
          <img
            class="noPrint rounded-circle shadow-lg float-left m-2"
            alt="100x100"
            src="/assets/karl_haworth.jpg"
            style="max-width: 100px; max-height: 100px;"
            data-holder-rendered="true"
          />
          Karl Haworth is from Traverse City in northern Michigan and attended
          Traverse City Central High School. During his time in high school,
          Karl found the Manufacturing Technology Academy (MTA) program, a
          national and state award-winning STEM academy where he participated in
          the <a href="/robotics">National Robotics Challenge (NRC)</a>. Karl
          later attended Albion College in Albion Michigan where he studied
          Economics, Management, and Statistics. During his studies at Albion,
          Karl discovered an internship with US Airways in Tempe Arizona where
          he performed studies of various IT applications and groups for process
          improvement. After graduation, Karl was given the opportunity to join
          the American Airlines Development Program for Technology (ADEPT), a
          college recruiting program created to develop a technical talent
          pipeline for Information Technology (IT) and continued on with
          American Airlines for permanent employment. <br />
          To continue to grow his knowledge in various areas, Karl operates a
          home lab in his free time consisting of multiple RAIDs in hot swap
          chassis with a mixture of Kubernetes and Docker containers and other
          equipment.
        </div>
        <div class="col-md-3 text-center">
          <div class="row py-4">
            <div class="col-md-12">
              &#109;&#101;&#32;&#40;&#32;&#97;&#116;&#32;&#41;&#32;&#107;&#97;&#114;&#108;&#104;&#97;&#119;&#111;&#114;&#116;&#104;&#46;&#99;&#111;&#109;
            </div>
          </div>
          <div class="row py-4">
            <div class="col-md-12">
              <a
                href="https://www.linkedin.com/in/karl-haworth/"
                target="_blank"
              >
                <svg
                  class="linkedin_logo"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- END ABOUT -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- ABOUT WRAP -->
</div>
