<footer class="d-print-none">
  <div class="container text-right">
    <div class="row">
      <div class="col-md made_with">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-heart-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
      </div>
      <div class="col-md">
        <img src="/assets/technologies/jekyll.png" class="img-responsive" />
      </div>
      <div class="col-md">
        <img src="/assets/technologies/netlify.png" class="img-responsive" />
      </div>
      <div class="col-md">
        <img src="/assets/technologies/bootstrap.png" class="img-responsive" />
      </div>
      <div class="col-md">
        <img
          src="/assets/technologies/gitlab.png"
          class="img-responsive img-center"
        />
      </div>
      <div class="col-md-3" id="copyright">
        Created by KARLHAWORTH<br />
        Copyright © {{ 'now' | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
