<div id="header_wrap">
  <div class="container">
    <!-- HEADER -->
    <header class="text-center">
      <div class="row py-2">
        <div class="col-md-12">
          <h1>Karl J. Haworth</h1>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-md-4 number">
            &#40;&#50;&#51;&#49;&#41;&#32;&#51;&#53;&#55;&#45;&#49;&#49;&#56;&#57;
        </div>
        <div class="col-md-4">
          karlhaworth.com
        </div>
        <div class="col-md-4">
          &#109;&#101;&#32;&#40;&#32;&#97;&#116;&#32;&#41;&#32;&#107;&#97;&#114;&#108;&#104;&#97;&#119;&#111;&#114;&#116;&#104;&#46;&#99;&#111;&#109;
        </div>
        <div class="col-md-4 text-right d-print-none">
          <a href="https://www.linkedin.com/in/karl-haworth/" target="_blank">
            <svg
              class="linkedin_logo"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
              />
            </svg>
          </a>
        </div>
      </div>
    </header>
    <!-- END HEADER -->
    <hr />
    <!-- PROFILE -->
    <section class="row">
      <div class="col-md-2 section_title">
        About
      </div>
      <div class="col-md-8">
        Highly motivated, leadership driven, team player, and quick learner with
        extensive experience in computer applications and statistical reporting.
        Creative thinker and problem solver with exceptional planning and
        analytical abilities.
      </div>
      <div class="col-md-2 text-right d-print-none">
        <a href="/assets/karl_haworth_resume.pdf" target="_blank">
          Download PDF
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-file-earmark-arrow-down"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"
            />
            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
            <path
              fill-rule="evenodd"
              d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z"
            />
            <path
              fill-rule="evenodd"
              d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z"
            />
          </svg>
        </a>
      </div>
    </section>
    <!-- END PROFILE -->
    <hr />
  </div>
</div>
