/* raleway-300 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/raleway-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Raleway Light"), local("Raleway-Light"),
    url("../webfonts/raleway-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/raleway-v12-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/raleway-v12-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/raleway-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/raleway-v12-latin-300.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/raleway-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"),
    url("../webfonts/raleway-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/raleway-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../webfonts/raleway-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../webfonts/raleway-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/raleway-v12-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/raleway-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Raleway Medium"), local("Raleway-Medium"),
    url("../webfonts/raleway-v12-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/raleway-v12-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/raleway-v12-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/raleway-v12-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/raleway-v12-latin-500.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/lato-v14-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"),
    url("../webfonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/lato-v14-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/lato-v14-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/lato-v14-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../webfonts/lato-v14-latin-300.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("../webfonts/lato-v14-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
    url("../webfonts/lato-v14-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/lato-v14-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/lato-v14-latin-300italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/lato-v14-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/lato-v14-latin-300italic.svg#Lato") format("svg"); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/lato-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../webfonts/lato-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/lato-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/lato-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/lato-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/lato-v14-latin-regular.svg#Lato") format("svg"); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/lato-v14-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"),
    url("../webfonts/lato-v14-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/lato-v14-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/lato-v14-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/lato-v14-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../webfonts/lato-v14-latin-italic.svg#Lato")
      format("svg"); /* Legacy iOS */
}
