<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>

    <link rel="stylesheet" href="{{'/assets/css/main.css' | prepend: site.baseurl}}">

    <meta name="description" content="Karl J Haworth - Highly motivated, leadership driven, team player, and quick learner with extensive experience in computer applications and statistical reporting. Creative thinker and problem solver with exceptional planning and analytical abilities.">
    <meta name="revisit-after" content="7 days">
    <meta name="keywords" content = "karl,haworth,automation,devops,arizona,orchestration,statistics,mta,manufacturing technology academy,michigan,albion,american airlines,us airways,timber ridge resort">

  </head>
  <body>
    {% include header.html %}
    {{ content}}
    <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    {% include footer.html %}
  </body>
</html>
